<div>
	<p class="lead mb-3">
		Hi, I'm a passionate game developer with a strong focus on creating fun, immersive,
		and challenging experiences. I specialize in using C# and Unity	to bring ideas to life.
	</p>
	<p class="lead mb-3">
		Since 2019, I have been working as a full-time game developer. I am deeply invested in
		both the artistry and functionality of my projects, whether it's crafting engaging
		gameplay experiences, designing intuitive UI, or integrating complex systems.
	</p>
	<p class="lead mb-3">
		I'm always excited to collaborate on new ideas or share insights about game and web
		development. Feel free to contact me if you'd like to work together or hire me. You can
		also follow me on LinkedIn for updates on my projects and insights into development.
	</p>
</div>

<div class="d-flex flex-wrap gap-3 mt-4">
	<a href="#contacts" class="btn anim-btn">
		Contact Me
	</a>
	<a href="files/Anastasia_Valishina_Resume.pdf" class="btn anim-btn" download>
		Download My Resume
	</a>
</div>

@code {

}
