@page "/contacts"

<h2 class="mt-5 text-highlight mb-4">Contacts</h2>

<p class="lead mb-3"> Reach out to me! </p>
<p class="mb-2">
	<a href="mailto:azhidenova@gmail.com" class="email-link">
		azhidenova@gmail.com
	</a>
</p>
<p class="mb-3">
	I am always open to new opportunities and collaborations.
	Feel free to contact me if you have any questions or want to discuss a project.
</p>
<div class="mb-4">
	<p class="mb-3"> Find me on:</p>
	<div class="row justify-content-md-start ms-1">
		<a class="social-link-icon mb-2 text-decoration-none" target="_blank" rel="noopener"
		   href="https://www.linkedin.com/in/anastasia-valishina/">
			<i class="bi bi-linkedin"></i>
		</a>
		<a class="social-link-icon mb-2 text-decoration-none" target="_blank" rel="noopener"
		   href="https://github.com/AnastasiaValishina">
			<i class="bi bi-github"></i>
		</a>
		<a class="social-link-icon mb-2" target="_blank" rel="noopener"
		   href="https://steamcommunity.com/id/MountainCatsGames/games/?tab=all">
			<i class="bi bi-steam"></i>
		</a>
		<a class="social-link-icon mb-2" target="_blank" rel="noopener"
		   href="mailto:azhidenova@gmail.com">
			<i class="bi bi-envelope-fill"></i>
		</a>
	</div>
</div>
<p class="mb-5">
	<i class="bi bi-geo-alt-fill me-2"></i>Remote or on-site in Belgrade, Serbia
</p>

@code {

}
