@page "/experience"

<h2 class="mt-5 text-highlight mb-4">Experience</h2>
<div class="d-flex flex-column flex-md-row justify-content-between mb-4">
	<div class="flex-grow-1">
		<h3 class="mb-0">Unity Developer</h3>
		<div class="mb-0">
			<a href="https://www.nexters.com/" target="_blank">Nexters (GDEV)</a>
		</div>
		<div class="mb-3">
			Project: <a href="https://www.nexters.com/hero-wars" target="_blank">Hero Wars – Hero Fantasy Multiplayer Battles</a>
		</div>
		<ul>
			<li>Implemented client game features</li>
			<li>Supported in-game events</li>
			<li>Contributed to team planning and feature breakdown</li>
			<li>Utilized Unity assets and RSX graphics (Adobe Animate, Flash)</li>
			<li>Converted RSX assets for Unity integration</li>
			<li>Developed unit tests</li>
		</ul>
	</div>
	<div class="flex-shrink-0"><span class="text-purple">May 2021 - May 2022</span></div>
</div>
<div class="d-flex flex-column flex-md-row justify-content-between mb-4">
	<div class="flex-grow-1">
		<h3 class="mb-0">UI Unity Developer</h3>
		<div class="mb-0">
			<a href="https://azurgames.com/" target="_blank">Azur Games</a>
		</div>
		<div class="mb-3">
			Projects:
			<ul>
				<li>
					Jurassic Monster World: Dinosaur War 3D FPS (
					<a href="https://apps.apple.com/ro/app/jurassic-monster-world-3d-fps/id1417141579" target="_blank">App Store</a> /
					<a href="https://play.google.com/store/apps/details?id=com.azurgames.dinosaurs" target="_blank">Google Play</a>)
				</li>
				<li>Dark Days: Zombie Survival (<a href="https://apps.apple.com/us/app/dark-days-zombie-survival/id1492680134" target="_blank">App Store</a>)</li>
				<li>Space Armada: Galaxy Wars</li>
			</ul>
		</div>
		<div class="mb-2">
			Responsibilities:
			<ul>
				<li>Prepared and optimized graphics to develop UI</li>
				<li>Constructed Unity interfaces based on mockups</li>
				<li>Developed UI animations and visual effects for improved user engagement</li>
				<li>Adjusted GUI for various mobile device screen resolutions</li>
			</ul>
		</div>
	</div>
	<div class="flex-shrink-0"><span class="text-purple">April 2019 - September 2019</span></div>
</div>
<div class="d-flex flex-column flex-md-row justify-content-between mb-4">
	<div class="flex-grow-1">
		<h3 class="mb-0">UI Unity Developer</h3>
		<div class="mb-0">
			<a href="https://my.games/" target="_blank">My.Games</a>
		</div>
		<div class="mb-3">
			Projects:
			<ul>
				<li><a href="https://my.games/play/hawk_freedom_squadron" target="_blank">Hawk: Freedom Squadron</a></li>
				<li><a href="https://my.games/play/space_justice" target="_blank">Space Justice: Shooter</a></li>
			</ul>
		</div>
		<div class="mb-2">
			Responsibilities:
			<ul>
				<li>Prepared and optimized graphics to develop UI</li>
				<li>Constructed Unity interfaces based on mockups</li>
				<li>Developed UI animations and visual effects for improved user engagement</li>
				<li>Adjusted GUI for various mobile device screen resolutions</li>
			</ul>
		</div>
	</div>
	<div class="flex-shrink-0"><span class="text-purple">April 2019 - September 2019</span></div>
</div>



@code {

}
