@page "/"

<PageTitle>Game Developer Portfolio</PageTitle>

<h1 class="text-highlight mb-4 mt-5">
	Hi all, I'm Anastasia <span class="wave">👋</span>
</h1>
<section class="mb-5" id="about">
	<About></About>
</section>

<section class="mb-5" id="skills">
	<Skills></Skills>
</section>

<section class="mb-5" id="experience">
	<Experience></Experience>
</section>

<section class="mb-5" id="projects">
	<Projects></Projects>
</section>

<section class="mb-5" id="contacts">
	<Contacts></Contacts>
</section>

<footer class="footer mt-5 py-4 text-center text-muted">
	<div class="container">
		<p class="mb-1">&copy; 2025 Anastasia Valishina</p>
		<p class="mb-0">
			<a href="mailto:azhidenova@gmail.com" class="email-link">
				azhidenova@gmail.com</a> 
		</p>
	</div>
</footer>