@page "/"

<PageTitle>Game Developer Portfolio</PageTitle>

<h1 class="text-highlight mb-4 mt-5">
	Hi all, I'm Anastasia <span class="wave">👋</span>
</h1>
<section class="mb-5" id="about">
	<div>
		<p class="lead mb-3">
			Hi, I'm a passionate game developer with a strong focus on creating fun, immersive,
			and challenging experiences. I specialize in using C# and Unity	to bring ideas to life.
		</p>
		<p class="lead mb-3">
			Since 2019, I have been working as a full-time game developer. I am deeply invested in
			both the artistry and functionality of my projects, whether it's crafting engaging
			gameplay experiences, designing intuitive UI, or integrating complex systems.
		</p>
		<p class="lead mb-3">
			I'm always excited to collaborate on new ideas or share insights about game and web
			development. Feel free to contact me if you'd like to work together or hire me. You can
			also follow me on LinkedIn for updates on my projects and insights into development.
		</p>
	</div>
	<div class="row justify-content-md-start ms-1">
		<a class="social-link-icon mb-2 text-decoration-none" target="_blank" rel="noopener"
		   href="https://www.linkedin.com/in/anastasia-valishina/">
			<i class="bi bi-linkedin"></i>
		</a>
		<a class="social-link-icon mb-2 text-decoration-none" target="_blank" rel="noopener"
		   href="https://github.com/AnastasiaValishina">
			<i class="bi bi-github"></i>
		</a>
		<a class="social-link-icon mb-2 text-decoration-none" target="_blank" rel="noopener"
		   href="https://steamcommunity.com/id/MountainCatsGames/games/?tab=all">
			<i class="bi bi-steam"></i>
		</a>
	</div>
</section>

<section class="mb-5" id="skills">
	<Skills></Skills>
</section>

<section class="mb-5" id="experience">
	<Experience></Experience>
</section>

<section class="mb-5" id="projects">
	<Projects></Projects>
</section>