@page "/projects"

<h2 class="mt-5 text-highlight">Projects</h2>
<div class="col-md-3 mb-2">
	<a href="https://store.steampowered.com/app/3273730/Shut_the_Box/">
		<div class="card">
			<img class="img-thumbnail" src="https://store.steampowered.com/app/3273730/Shut_the_Box/">
			<div class="card-body">
				<h5 class="card-title md-3">
					Shut The Box
				</h5>
				<p class="card-text">
					<b>Game</b>
				</p>
			</div>
		</div>
	</a>
</div>

@code {

}
