@page "/projects"

<h2 class="mt-5 text-highlight mb-3">Projects</h2>

<div class="row d-lg-flex mb-2">
	<div class="col-lg-6 mb-2 d-flex">
		<div class="card d-flex flex-row align-items-center">
			<a href="https://store.steampowered.com/app/3273730/Shut_the_Box/" target="_blank">
				<img src="images/ShutTheBox.jpg"
					 alt="Shut The Box"
					 style="width: 180px; height: auto;">
			</a>
			<div class="card-body">
				<h5 class="card-title mb-3">
					<a href="https://store.steampowered.com/app/3273730/Shut_the_Box/" target="_blank">
						Shut The Box
					</a>
				</h5>
				<p class="card-text">Shut the Box is a classic game of strategy, luck, and creative thinking. The game is available on Steam. Check it out!</p>
			</div>
		</div>
	</div>
	<div class="col-lg-6 mb-2 d-flex">
		<div class="card d-flex flex-row align-items-center">
			<a href="https://cookbookclient20240726115726.azurewebsites.net/" target="_blank">
				<img src="images/CookIt.jpg"
					 alt="Cook It App"
					 style="width: 180px; height: auto;">
			</a>
			<div class="card-body">
				<h5 class="card-title mb-3">
					<a href="https://cookbookclient20240726115726.azurewebsites.net/" target="_blank">
						Cook It
					</a>
				</h5>
				<p class="card-text mb-0">Blazor WebAssembly application with database for recipe management.</p>
				<div class="text-end">
					<a href="https://github.com/AnastasiaValishina/cookbook-application"
					   target="_blank"
					   class="text-dark fs-2">
						<i class="bi bi-github"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row d-lg-flex mb-2">
	<div class="col-lg-6 mb-2 d-flex">
		<div class="card d-flex flex-row align-items-center">
			<a href="https://anastasiavalishina.github.io/racing-game-build/" target="_blank">
				<img src="images/RacingGame.jpg"
					 alt="Racing Game"
					 style="width: 180px; height: auto;">
			</a>
			<div class="card-body">
				<h5 class="card-title mb-3">
					<a href="https://anastasiavalishina.github.io/racing-game-build/" target="_blank">
						Racing Game
					</a>
				</h5>
				<p class="card-text mb-0">My pet project built with Unity, using Cinemachine, Tilemaps and DI with Zenject.</p>
				<div class="text-end">
					<a href="https://github.com/AnastasiaValishina/racing-game"
					   target="_blank"
					   class="text-dark fs-2">
						<i class="bi bi-github"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>


@code {

}
