@page "/projects"

<h2 class="mt-5 text-highlight mb-3">Projects</h2>

<div class="row d-lg-flex mb-2">
	<div class="col-lg-6 mb-2">
		<a href="https://store.steampowered.com/app/3273730/Shut_the_Box/">
			<div class="card d-flex flex-row align-items-center">
				<img src="images/ShutTheBox.jpg" 
				alt="Shut The Box" 
				style="width: 180px; height: auto;">
				<div class="card-body">
					<h5 class="card-title mb-3">Shut The Box</h5>
					<p class="card-text">Shut the Box is a classic game of strategy, luck, and creative thinking. The game is available on Steam. Check it out!</p>
				</div>
			</div>
		</a>
	</div>
	<div class="col-lg-6">
		<a href="https://store.steampowered.com/app/3273730/Shut_the_Box/">
			<div class="card d-flex flex-row align-items-center">
				<img src="images/CookIt.jpg"
					 alt="Shut The Box"
					 style="width: 180px; height: auto;">
				<div class="card-body">
					<h5 class="card-title mb-3">Cook It</h5>
					<p class="card-text">Blazor WebAssembly application with database for recipe management.</p>
					<a href="https://github.com/AnastasiaValishina/cookbook-application" target="_blank" class="text-dark fs-4 ms-auto">
						<i class="bi bi-github"></i>
					</a>
				</div>
			</div>
		</a>
	</div>
</div>


@code {

}
